{{ define "main" }}
<section class="app-header" style=" background-size: 100%;
background-position: center 35%;
filter: grayscale(50%);
min-height: 220px;
background-image:
    linear-gradient(to bottom, rgba(20, 20, 20, 0.616), rgba(3, 3, 3, 0.73)),
    url('/images/team.jpg');
    opacity: 0.8;
    border-width: 10px;
   border-bottom-width:10px;
   border-bottom-color:gray;
   border-bottom-style: solid;
   
"
                     >
  <br>
  <div class="main-content">

    <h1>Meet The Team</h1>
    <p>
      brainlife.io is developed by an open community of scientists and a group of dedicated trainees and <br>professional
      software engineers.
    </p>
    <br>
  </div>
</section>

<section class="main-content">
  <center>
    <h1 style="   margin-top: 30px; margin-bottom: 30px;    ">Project Members</h1>
    <p style="margin: 30px;">The following individuals are actively contributing to the brainlife.io project.</p>
    </center>
  <table class="layout-table">
  {{ range .Pages }}
          {{ if in .Params.tags "pi" }}
          <tr>
            <td width="40%" class="contact">
              <img src="{{.Params.image}}" style="width: 200px;height:200px"><br>
              <a>{{.Title}}</a><br>
              <span class="title">{{.Params.position}}</span>
            </td>
            <td width="60%">
              <p> {{.Params.description}} </p>
            </td>
          </tr>
          {{ end }}
  {{end}}
  </table>
  <div class="colorback" style="background-color: #2693ff">
        <center>
          <!-- <p style="margin: 0;">The following individuals are actively contributing to the brainlife.io project.</p> -->
        </center>
        <table class="layout-table">
          {{ range .Pages }}
          {{ if in .Params.tags "active" }}
          <tr>
            <td width="40%" class="contact">
              <img src="{{.Params.image}}" style="width: 200px;height:200px"><br>
              <a>{{.Title}}</a><br>
              <span class="title">{{.Params.position}}</span>
            </td>
            <td width="60%">
              <p> {{.Params.description}} </p>
            </td>
          </tr>
          {{ end }}
          {{ end }}

        </table>
     
  </div>
  <!-- <div style="margin-top: 6rem; ">
    <h1>
      <center>
        <p style="font-size: 150%;">
          <i class="fas fa-key"></i>
        </p>
        Co-PIs
      </center>
    </h1>
    <br>
    <br>
    <div class="container">
      <div class="row row-cols-1 layout-table"> -->
        <!-- {{ range .Pages }}
      {{ if in .Params.tags "copi" }}
        <div class="col">
            <h3><b><a >{{.Title}}</a></b></h3>
            <p>{{.Params.position}}</p>
          </div>
          
    </div>
    {{end}}    
    {{end}} -->

        <!-- <div class="gallery">
          <ul style=" display: flex;
      flex-flow: row wrap;
      list-style: none;
      margin: 32px 0;">
            {{range .Pages}}
            {{if in .Params.tags "copi"}}
            <li style=" margin: 0 10px;
          flex-basis: calc(50% - 20px);">
              <h3><b>{{.Title}}</b></h3>
              <p> {{.Params.position}}</p>
            </li>
            {{end}}
            {{end}}
          </ul>
        </div>
      </div>
    </div> -->

    <div class="colorback" style="background-color: #159957">
      <center>
        <h1>Collaborators</h1>
        <p>Many thanks to all brainlife.io collaborators!</p>
      </center>
      <br>
      <!-- <div class="container">
      <div class="row table"> -->
      <!-- {{ range .Pages }}
        {{ if in .Params.tags "collaborators" }}
        <div class="col-md-4 col-sm-6 col-xs-12 contact">
          <img src="{{.Params.image}}"><br>
          <a href="=">{{.Title}}</a><br>
          <span class="title">{{.Params.position}}</span><br>
          <span class="location">{{.Params.location}}</span><br>
        </div>
        {{ end }}
        {{ end }}
     -->

      <!-- </div>
    </div> -->
      <div class="gallery">
        <ul style=" display: flex;
      flex-flow: row wrap;
      list-style: none;
      margin: 32px 0;">
          {{range .Pages}}
          {{if in .Params.tags "collaborators"}}
          <li style=" margin-top: 20px;
          flex-basis: calc(33.3% - 20px);" 
           class="contact">
            <img src='{{.Params.image}}'><br>
            <a>{{.Title}}</a><br>
            <span class="title"> {{.Params.position}}</span><br>
            <span class="location">{{.Params.location}}</span><br>
          </li>
          {{end}}
          {{end}}
        </ul>
      </div>
    </div>

    <div>
      <br>
      <br>
      <br>
      <center>
        <h1>Alumni</h1>
      </center>
      <br>
      <table class="layout-table">
        {{ range .Pages }}
        {{ if in .Params.tags "alumni" }}
        <tr>
          <td width="40%" class="contact">
            <img src="{{.Params.image}}" style="width: 200px;height:200px"><br>
            <a>{{.Title}}</a><br>
            <span class="title">{{.Params.position}}</span>
          </td>
          <td width="60%">
            <p> {{.Params.description}} </p>
          </td>
        </tr>
        {{ end }}
        {{ end }}

      </table>
    </div>

    {{end}}