<style>
    h2{
        font-family: Raleway;
    }
</style>
<section class="container" id="main-content">
    <div>
    <center style="padding: 2rem; line-height: 200%;">
        <h2 style="color: gray; font-size: 150%">Free cloud platform for secure neuroscience data analysis.</h2>
    </center>
    <div class="row">
        <div class="col-lg-4 headlink">
            <a href="/apps">
                <center>
                    <img src="images/screenshots/apps.png" class="screenshot" />
                    <h3><b>Code</b></h3>
                    <p>Share your analyses by registering a GitHub repository as an <b>App</b>. Apps can be publicly shared and executed on the several cloud computing platforms.</p>
                </center>
            </a>
          </div>
          <div class="col-lg-4 headlink">
            <a href="/apps">
                <center>
                    <img src="images/screenshots/apps.png" class="screenshot" />
                    <h3><b>Code</b></h3>
                    <p>Share your analyses by registering a GitHub repository as an <b>App</b>. Apps can be publicly shared and executed on the several cloud computing platforms.</p>
                </center>
            </a>
        </div>
          <div class="col-lg-4 headlink">
            <a href="/apps">
                <center>
                    <img src="images/screenshots/apps.png" class="screenshot" />
                    <h3><b>Code</b></h3>
                    <p>Share your analyses by registering a GitHub repository as an <b>App</b>. Apps can be publicly shared and executed on the several cloud computing platforms.</p>
                </center>
            </a>
        </div>
    </div>
    </div>
</section>