<!DOCTYPE html>
<html lang="en-us">
  {{ partial "head.html" . }}
  <body>
    {{ partial "landing_banner.html" .}}
    <div id="all_content" style="margin-top:250px">
        {{partial "landing_about.html" .}}
        {{partial "landing-everyone.html" .}}
        {{partial "landing.mission.html" .}}
        {{partial "landing.sponsor.html" .}}
        {{partial "landing.start.html" .}}
        {{ partial "footer.html" . }}

      </div>

    </section>

    <!-- {% partial analytics.html %} -->
  </body>
</html>